:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --el-color-primary: rgb(111, 128, 0);
  --el-menu-text-color: var(--el-color-primary)
}




html, body, #app {
    padding: 0;
    margin: 0;
    height: 100vh;
}
#layout section {
    height: 100%
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-container-base {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.cursor {
    cursor: pointer;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
